@font-face {
  font-family: 'HippoFont';
  src: url('fonts/Hippo.eot'); /* IE9 Compat Modes */
  src: url('fonts/Hippo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Hippo.woff') format('woff'), /* Modern Browsers */
       url('fonts/Hippo.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Hippo.svg#svgFontName') format('svg'); /* Legacy iOS */
}


body{
    margin: 0;
    font-family: 'HippoFont', sans-serif;
    font-size: 100%;
}

.banner{
    border-top: 6px solid rgb(228, 228, 228);
    border-bottom: 1px solid rgb(228, 228, 228);
    display: block;
    outline: 0; max-width: 100%; height: auto;
    width: 100%;
    position:fixed;
    bottom:0px;
}

.title{
    font-size: 3em;
    color: white;
    text-align: center;
    background-color: rgb(199, 196, 196);
    padding: 20px;
    padding-top: 15%;
    margin: 0;
}
.subtitle{
    font-size: 2em;
    text-align: center;
    color: rgb(199, 196, 196);

}

ul.nav{
    position: fixed;
    bottom: 40%;
    right: 45px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    padding-left: 40px;
    display: inline;
}

ul.nav a{
    color: rgb(100, 100, 100);
}

ul.nav a:visited{
    color: rgb(100, 100, 100);
}

ul.nav a:hover{
    color: rgb(106, 208, 240);
}

a.verb {
    text-decoration: none;
    text-align: center;
    color: rgb(199, 196, 196);
}

a.verb:hover {
    text-decoration: none;
    text-align: center;
    color: rgb(100, 100, 100);
}

.details{
    display: none;
}