<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="API for Hippos">
  <meta name="author" content="Iván Pedrazas & Álex González">
  <title>apihippo.com</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body ng-app="hippos">
  <div ng-controller="HippoController">
    <p>
      <img src="{{hippo.url}}"/>
    </p>
    <p>
      <button type="submit" class="btn btn-danger" ng-click="get()">
        <i class="glyphicon glyphicon-thumbs-down"></i> Hippo!
      </button>
      <button type="submit" class="btn btn-success" ng-click="vote(hippo.id)">
        <i class="glyphicon glyphicon-thumbs-up"></i> Hippo!
      </button>
    </p>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script type="text/javascript" src="/js/apihippo.js"></script>

  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u=(("https:" == document.location.protocol) ? "https" : "http") + "://analytics.ccs.im/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 3]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
      g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="http://analytics.ccs.im/piwik.php?idsite=3" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->
</body>
</html>
