<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="API for Hippos">
  <meta name="author" content="Iván Pedrazas & Álex González">
  <title>apihippo.com</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/apihippo.css">
</head>

<body ng-app="hippos">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">apihippo.com</a>
      </div>
    </div>
  </nav>

  <div ng-controller="HippoController" class="hippo-controller">

    <div class="row">
      <div class="col-md-12 text-center">
        <img src="{{hippo.url}}"/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-4 text-center">
        <button type="submit" class="btn btn-lg btn-danger" ng-click="get()">
          <i class="glyphicon glyphicon-remove"></i> Hippo!
        </button>
      </div>
      <div class="col-md-2 text-center">
        <button type="submit" class="btn btn-lg btn-success" ng-click="vote(hippo.id)">
          <i class="glyphicon glyphicon-heart"></i> Hippo!
        </button>
      </div>
    </div>

  </div>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script type="text/javascript" src="/js/apihippo.js"></script>

  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u=(("https:" == document.location.protocol) ? "https" : "http") + "://analytics.ccs.im/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 3]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
      g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="http://analytics.ccs.im/piwik.php?idsite=3" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->
</body>
</html>
